<% layout('/Layouts/boilerplate.ejs') %>
    <div class="row">
        <div class="col-8 offset-2"><br>
            <form method="post" action="/listings/<%=result._id%>?_method=PUT" novalidate class="needs-validation"
                enctype="multipart/form-data">
                <p> <b>Edit Your Post : <%= result.title %></b> </p>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="list[title]" id="title" value="<%= result.title %>" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description :</label>
                    <textarea type="text" class="form-control" name="list[description]" id="description"
                        required><%= result.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Uplocad New Image</label>
                    <input type="file" class="form-control" name="list[image]" id="title" />
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price :</label>
                        <input type="number" class="form-control" name="list[price]" id="price"
                            value="<%= result.price %>" required />
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country :</label>
                        <input type="text" class="form-control" name="list[country]" id="country"
                            value="<%= result.country %>" required />
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location :</label>
                    <input type="text" class="form-control" name="list[location]" id="location"
                        value="<%= result.location %>" required />
                </div>
                <button class="btn btn-primary">Update</button>
            </form><br><br>
        </div>
    </div>